.modal {
  position: fixed;
  left: 25em;
  top: 5rem;
  width: 50vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 1rem;

  .trust {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
}
